@font-face {
    font-family: 'beyno';
    src: url(../fonts/beyno/BEYNO.ttf);
}

@font-face {
    font-family: 'panther';
    src: url(../fonts/panther/PantheraRegular.ttf);
}

@font-face {
    font-family: 'Cantarell-Regular';
    src: url(../fonts/cantarell/Cantarell-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}


.navbar {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.flex {
    display: flex;
    background-size: cover;
}

body {
    background-image: url('../images/All_pages/arrière_plan.png');

}

.link-reseaux-sociaux {
    width: 25px;
    display: flex;
    margin: 0 50px;
    flex-wrap: wrap;
    border-left: 3px solid #F2CEF2;
    height: fit-content;
}

.link-reseaux-sociaux .link-top {
    flex-grow: 1;
    border-right: 3px solid #F2CEF2;
    height: 40vh;
}

.link-icon {
    min-height: 5vh;
    max-height: 100vh;
}

.link-icon a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 13px;
    margin-top: 20px;
}


nav {
    display: flex;
    flex-grow: 1;
    margin: 10px;
}

.link-navbar a {
    font-family: 'beyno';
    margin: 2px 20px;
    padding: 5px;
    font-size: 32px;
}


a {
    color: white;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 20px;
    float: right;
}

section h1 {
    font-family: 'panther';
    font-size: 68px;
    color: #F2CEF2;
}

section h2 {
    font-family: 'BEYNO';
    font-size: 32px;
    color: #F2CEF2;
}



section img {
    width: 100vh;
}

.logo a img {
    align-items: center;
}

p,
section a {
    color: white;
    font-family: 'Cantarell-Regular';
    font-size: 16px;
}

.images {
    display: flex;
    align-items: center;
}

.bloc-img {
    display: flex;
    background-color: #021740;
}

h2 {
    font-family: 'BEYNO';
    color: #F2CEF2;
    padding: 15px 0;
}

.desc a {
    font-family: 'Cantarell-Regular';
    margin: 25px 0;
    font-size: 14px;

}

.images .desc {
    padding: 35px 20px;
}

.desc {
    min-height: 28vh;
    max-height: 30vh;
    min-width: 20vh;
    max-width: 35vh;
    width: fit-content;
}

.desc p {
    font-size: 10px;
    margin-bottom: 10px;
}

.bloc-img img {
    max-width: 35vh;
    min-width: 20vh;
    min-height: 25vh;
    max-height: 38vh;
}

.contenue {
    margin-top: 150px;
    display: flex;
}

.contenue .left {
    width: 50%;
    padding: 0 25px;
}

.contenue .right {
    min-width: 20%;
    max-width: 35%;
    padding: 0 25px;

}

.contenue .left p {
    margin: 25px 0;
    font-family: 'Cantarell-Regular';
    font-size: 14px;
    font-weight: 200;
}

.left small {
    font-family: 'Cantarell-Regular';
    font-size: 10px;
    color: aliceblue;
}

.left ul li {
    list-style: none;
    margin: 4px 10px;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


button {
    flex-grow: 1;
    padding: 10px 15px;
    background-color: #07338C;
    color: white;
    border-radius: 7px;
    border: none;
    text-align: center;
    margin: auto 10px;
}

.contente {
    display: block;
    justify-content: center;
    margin: 250px 0 50px;
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 30%;
    max-width: 100%;
    min-height: 50%;
    /* height: 50%; */
    max-height: 60%;
}

.right .contente img {
    position: relative;
    min-width: 60%;
    max-width: 80%;
    min-height: 45vh;
    max-height: 60vh;
    top: -200px;
    left: 10%;
    right: 10%;
    justify-content: center;
}

.right img {
    min-width: 60%;
    max-width: 100%;
    min-height: 45vh;
    max-height: 60vh;
}

.infos {
    margin: 15px 15px 0;
}


.bloc-detail {
    display: flex;
    font-family: 'Cantarell-Regular';
    font-size: 14px;
    flex-wrap: nowrap;
}

.bloc-detail span {
    justify-content: flex-start;
    padding: 5px;
    min-width: 70px;
}

.detail {
    position: relative;
    padding-bottom: 0;
    display: block;
    top: -180px;
}

.detail h1 {
    text-align: center;
    margin: 15px 0;
}

.contact {
    background-image: url('../images/Accueil/Pantherhome7.png');
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    font-family: 'Cantarell-Regular';
}

.formulaire {
    border-radius: 25%;
    margin: 20px auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.894), rgb(242, 206, 242, .12));
    width: 40%;
    text-align: center;
    padding: 50px 70px;
}

.formulaire {
    display: block;
}

input,
#message {
    border-radius: 38px;
    padding: 2px 25px;
    margin: 10px 0;
    border: 1px solid #021740;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.13);
}

input {
    height: 56px;
}

#message {
    padding: 20px 25px;
    border-radius: 38px;
    margin: 10px 0;
}

/*  -------------- Gegin footer ------------- */

form>button {
    background-color: #F2CEF2;
    padding: auto 25px;
    border-radius: 38px;
    color: #021740;
    font-family: 'Cantarell-Regular';
    height: 54px;
    width: 174px;
}

/* ------------------- footer -------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../images/All_pages/back_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.f-right {
    display: block;
    min-width: 100vh;
    max-width: max-content;
}

.f-right .f-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.inline-bloc img {
    max-width: 10vh;
    max-height: 10vh;
}

.f-right .f-bottom,
.f-bottom ul {
    display: flex;
    color: #ffffff;
}

.f-bottom ul {
    margin: 0 15px;
}

.f-bottom ul li {
    margin: 0 10px;
    padding: 0 2px;
}

.f-bottom {
    margin-top: 50px;
    justify-content: flex-start;
    font-family: 'Cantarell-Regular';
    font-size: 14px;
}

.f-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    min-width: 50vh;
    max-width: 85vh;
    background-image: url('../images/All_pages/footer1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-right: 50px;
}


footer h3 {
    color: #ffffff;
    font-family: 'Cantarell-Regular';
    letter-spacing: 28px;
    font-size: 22px;
}

footer a {
    margin: auto 5px;
}

.sep {
    flex-grow: 1;
    height: 150px;
    background-image: url('../images/All_pages/arrière_plan.png');
}

.inline-bloc {
    display: block;
    margin: 25px 20px auto;
}

.flex-bloc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 10vh;
}

/* ------------------- footer -------------- */

/* ---------- To be continue ---------- */